.container {
  max-width: 100%;
}
.container__item {
  max-width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.container__text {
  text-transform: uppercase;
  color: rgb(20, 20, 20);
  margin: 10px;
  text-align: center;
}
